openapi: 3.0.2
x-stoplight:
  id: c6861590dda46
info:
  title: Finix API
  description:
    $ref: api-descriptions/main.md
  contact:
    name: Finix
    url: https://finix.com
    email: support@finixpayments.com
  version: '2022-02-01'
x-ignoredHeaderParameters:
- Accept
- finix-apiuser-role
- date
- x-request-id
servers:
- description: Sandbox server to be used for testing and development
  url: https://finix.sandbox-payments-api.com
- description: Live server to be used for production charges
  url: https://finix.live-payments-api.com
tags:
- name: Authorizations
  description:
    $ref: api-descriptions/tags/authorizations.md
- name: Balance Transfers
  description:
    $ref: api-descriptions/tags/balance-transfers.md
- name: Disputes
  description:
    $ref: api-descriptions/tags/disputes.md
- name: Fee Profiles
  description:
    $ref: api-descriptions/tags/fee-profiles.md
- name: Identities
  description:
    $ref: api-descriptions/tags/identities.md
- name: Merchants
  description:
    $ref: api-descriptions/tags/merchants.md
- name: Payment Instruments
  description:
    $ref: api-descriptions/tags/payment-instruments.md
- name: Settlements
  description:
    $ref: api-descriptions/tags/settlements.md
- name: Transfers
  description:
    $ref: api-descriptions/tags/transfers.md
- name: Webhooks
  description:
    $ref: api-descriptions/tags/webhooks.md
- name: Devices
  description:
    $ref: api-descriptions/tags/devices.md
- name: Merchant Profiles
  description:
    $ref: api-descriptions/tags/merchant-profiles.md
- name: Reversals
  description:
    $ref: api-descriptions/tags/reversals.md
- name: Risk profiles
  description:
    $ref: api-descriptions/tags/risk-profiles.md
- name: Verifications
  description:
    $ref: api-descriptions/tags/verifications.md
- name: Files
  description:
    $ref: api-descriptions/tags/files.md
- name: Instrument Updates
  description:
    $ref: api-descriptions/tags/instrument-updates.md
x-tagGroups:
- name: MAIN RESOURCES
  tags:
  - Identities
  - Merchants
  - Payment Instruments
  - Authorizations
  - Transfers
  - Webhooks
  - Settlements
  - Disputes
  - Files
  - Verifications
  - Fees
  - Users
  - Instrument Updates
  - Merchant Profiles
  - Fee Profiles
- name: CORE-PAYFAC RESOURCES
  tags:
  - Applications
  - Application Profiles
  - Devices
  - Processors
  - Balance Transfers
- name: SUBSCRIPTION BILLING
  tags:
  - Subscription Schedules
  - Subscription Amounts
  - Subscription Enrollments
paths:
  /authorizations:
    post:
      tags:
      - Authorizations
      description: "Create an `Authorization` to process a transaction.\n\n`Authorizations`\
        \ can have two possible `states`:\n\n- **SUCCEEDED** \n- **FAILED**\n\nIf\
        \ the `Authorization` has **SUCCEEDED** , it must be captured before `expires_at`\
        \ passes or the funds will be released.\n\nLearn how to prevent duplicate\
        \ authorizations by passing an [Idempotency ID](#section/Idempotency-Requests)\
        \ in the payload."
      summary: Create an Authorization
      operationId: createAuthorization
      requestBody:
        $ref: '#/components/requestBodies/CreateAuthorizationRequest'
      responses:
        '201':
          $ref: '#/components/responses/Authorization'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '402':
          $ref: '#/components/responses/ErrorPaymentRequired'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-java-method-name: create
      x-python-method-name: create
    get:
      tags:
      - Authorizations
      description: 'Retrieve a list of `Authorizations`. '
      summary: List Authorizations
      operationId: listAuthorizations
      parameters:
      - $ref: '#/components/parameters/QuerySort'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryIdempotencyIdFilter'
      - in: query
        name: state
        description: Filter by Transaction state.
        schema:
          enum:
          - SUCCEEDED
          - FAILED
          - PENDING
          - CANCELED
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtGteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtLteFilter'
      - $ref: '#/components/parameters/QueryVoidFilter'
      - $ref: '#/components/parameters/QueryAmountFilter'
      - $ref: '#/components/parameters/QueryAmountLtFilter'
      - $ref: '#/components/parameters/QueryAmountGtFilter'
      - $ref: '#/components/parameters/QueryAmountLteFilter'
      - $ref: '#/components/parameters/QueryAmountGteFilter'
      - $ref: '#/components/parameters/QueryTraceIdFilter'
      - in: query
        name: instrument_bin
        description: Filter by Bank Identification Number (BIN). The BIN is the first
          6 digits of the masked number
        schema:
          type: string
      - schema:
          type: string
        in: query
        name: instrument_account_last4
        description: "Filter Transactions by the last 4 digits of the bank account.\
          \ The bank account last 4 are the last 4 digits of the masked number\tinstrument_account_last4=9444\
          \ BIN\t"
      - schema:
          type: string
        in: query
        name: instrument_brand_type
        description: Filter by card brand. Available card brand types can be found
          in the drop-down
      - schema:
          type: string
        in: query
        name: merchant_identity_id
        description: Filter by Identity ID
      - schema:
          type: string
        in: query
        name: merchant_identity_name
        description: Filter Transactions by Identity name. The name is not case-sensitive
      - schema:
          type: string
        in: query
        name: instrument_name
        description: Filter Transactions by payment instrument name
      - schema:
          type: string
        in: query
        name: instrument_type
        description: 'Filter Transactions by payment instrument type. Available instrument
          types include: Bank Account or Payment Card'
      - schema:
          type: string
        in: query
        name: merchant_id
        description: Filter by Merchant ID
      - schema:
          type: string
        in: query
        name: merchant_mid
        description: Filter by Merchant Identification Number (MID)
      - schema:
          type: string
        in: query
        name: instrument_card_last4
        description: Filter by the payment card last 4 digits
      - schema:
          type: string
        in: query
        name: merchant_processor_id
        description: Filter by Processor ID
      - schema:
          type: string
        in: query
        name: type
        description: Type of the authorization.
      - $ref: '#/components/parameters/QueryAfterCursor'
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationsList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /authorizations/{authorization_id}:
    get:
      tags:
      - Authorizations
      description: Retrieve the details of a previously created `Authorization`.
      summary: Get an Authorization
      operationId: getAuthorization
      responses:
        '200':
          $ref: '#/components/responses/Authorization'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - $ref: '#/components/parameters/AuthorizationId'
    put:
      tags:
      - Authorizations
      description: "If successfully captured, the `transfer` field of the `Authorization`\
        \ will contain the ID of the `Transfer` resource that'll move funds. \n\n\
        By default, `Transfers` are in a **PENDING** state. The **PENDING** state\
        \ means the system hasn't submitted the request to capture funds. Capture\
        \ requests get submitted via a batch request. \n\nOnce the `Authorization`\
        \ is updated with a `capture_amount` (i.e. *Captured*), the state of the `Transfer`\
        \ will update to **SUCCEEDED**.\n\n> Voided `Authorizations` can't be captured."
      summary: Capture an Authorization
      operationId: captureAuthorization
      requestBody:
        $ref: '#/components/requestBodies/UpdateAuthorizationRequest'
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationUpdated'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-internal: false
      x-java-method-name: update
      x-python-method-name: update
  /balance_transfers:
    post:
      summary: Create a Balance Transfer
      operationId: createBalanceTransfer
      responses:
        '201':
          $ref: '#/components/responses/BalanceTransfer'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      description: Create a `balance_transfer`.
      tags:
      - Balance Transfers
      requestBody:
        $ref: '#/components/requestBodies/CreateBalanceTransferRequest'
      x-internal: false
      x-java-method-name: create
      x-python-method-name: create
    parameters: []
    get:
      summary: List Balance Transfers
      operationId: listBalanceTransfers
      responses:
        '200':
          $ref: '#/components/responses/BalanceTransferList'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          description: Not Found
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      description: Retrieve a list of `balance_transfers`.
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      - schema:
          type: integer
        in: query
        name: pageNumber
        description: The page number to list
      - schema:
          type: integer
        in: query
        name: pageSize
        description: The size of the page
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtGteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtLteFilter'
      - $ref: '#/components/parameters/QueryIdempotencyIdFilter'
      - $ref: '#/components/parameters/QueryAmountFilter'
      - in: query
        name: description
        schema:
          type: string
        description: 'Filter by the `description` value '
      - schema:
          type: string
        in: query
        name: destination
        description: Filter by the `Payment Instrument` saved in `destination`
      - schema:
          type: string
        in: query
        name: external_reference_id
        description: Filter by the value saved in `external_reference_id`
      - schema:
          type: string
        in: query
        name: reference_id
        description: Filter by the value saved in `reference_id`
      - schema:
          type: string
        in: query
        description: Filter by the `Payment Instrument` saved in `source`
        name: source
      tags:
      - Balance Transfers
      x-internal: false
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /devices/{device_id}:
    get:
      tags:
      - Devices
      description: 'Retrieve the details of an existing `Device`.


        To check the connectivity of the device, include `?include_connection\=true
        \` at the end of the request endpoint.'
      summary: Get Device
      operationId: getDevice
      responses:
        '200':
          $ref: '#/components/responses/Device'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of the `Device`.
      required: true
      in: path
      name: device_id
      schema:
        type: string
    put:
      tags:
      - Devices
      description: Update a `Device` to activate or deactivate it.
      summary: Update a Device
      operationId: updateDevice
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeviceRequest'
      responses:
        '200':
          $ref: '#/components/responses/Device'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: update
      x-python-method-name: update
  /disputes:
    get:
      tags:
      - Disputes
      description: Retrieve a list of `Disputes`.
      summary: List Disputes
      operationId: listDisputes
      parameters:
      - $ref: '#/components/parameters/QuerySort'
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtGteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtLteFilter'
      responses:
        '200':
          $ref: '#/components/responses/DisputesList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /disputes/{dispute_id}:
    get:
      tags:
      - Disputes
      description: Retrieve the details of a previously created `Dispute`.
      summary: Get Dispute
      operationId: getDispute
      responses:
        '200':
          $ref: '#/components/responses/Dispute'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of `Dispute` to fetch.
      required: true
      in: path
      name: dispute_id
      schema:
        type: string
  /disputes/{dispute_id}/evidence:
    post:
      tags:
      - Disputes
      description: "Upload dispute evidence for a `Dispute`.\n\nThere are four values\
        \ available for `state` that details the status of the evidence upload:\n\n\
        * **PENDING**: The evidence file has not yet been submitted to the `Processor`.\
        \ No user action is required.\n* **SUCCEEDED**: The evidence file has been\
        \ successfully sent to the `Processor`. No further user action is required.\n\
        * **CANCELED**: The evidence file upload was not completed due to user action.\n\
        * **FAILED**: An issue occurred. User action is required. Any of the following\
        \ issues could have occurred:\n    * There was an error in the system and\
        \ the user should retry uploading their evidence file.\n    * There is an\
        \ issue with the file and the user should retry uploading a different file.\n\
        \    * There is an issue and the user should contact Support.\n"
      summary: Create Dispute Evidence
      operationId: createDisputeEvidence
      responses:
        '201':
          $ref: '#/components/responses/DisputeEvidence'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/CreateDisputeEvidenceRequest'
      x-python-method-name: create_dispute_evidence
    get:
      tags:
      - Disputes
      description: Retrieve a list of dispute evidence for a `Dispute`.
      summary: List Dispute Evidence
      operationId: listDisputeEvidence
      responses:
        '200':
          $ref: '#/components/responses/DisputeEvidenceList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: listDisputeEvidenceByDisputeId
      x-group-parameters: true
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      x-python-method-name: list_dispute_evidence_by_dispute_id
      x-returns-list: true
    parameters:
    - description: ID of `Dispute` to mange evidence for.
      required: true
      in: path
      name: dispute_id
      schema:
        type: string
  /disputes/{dispute_id}/evidence/{evidence_id}:
    get:
      tags:
      - Disputes
      description: "Fetch evidence uploaded for a `Dispute`. \n\nIf you don't have\
        \ the Finix Dashboard available, you can fetch the evidence to review the\
        \ `status` of the upload to confirm the evidence got sent to the processor."
      summary: Fetch Dispute Evidence
      operationId: getDisputeEvidence
      responses:
        '200':
          $ref: '#/components/responses/DisputeEvidence'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-python-method-name: get_dispute_evidence
    parameters:
    - description: ID of `Dispute` to fetch evidence for.
      required: true
      in: path
      name: dispute_id
      schema:
        type: string
    - description: ID of `evidence` to fetch.
      required: true
      in: path
      name: evidence_id
      schema:
        type: string
  /fee_profiles:
    get:
      description: Get all fee profiles
      summary: List Fee Profiles
      operationId: listFeeProfiles
      responses:
        '200':
          $ref: '#/components/responses/FeeProfilesList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      parameters:
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      - $ref: '#/components/parameters/QueryLimit'
      tags:
      - Fee Profiles
      x-python-method-name: list
      x-returns-list: true
    post:
      description: Create fee profiles
      summary: Create a Fee Profile
      operationId: createFeeProfile
      requestBody:
        $ref: '#/components/requestBodies/CreateFeeProfileRequest'
      responses:
        '201':
          $ref: '#/components/responses/FeeProfile'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-java-method-name: create
      tags:
      - Fee Profiles
      x-python-method-name: create
  /fee_profiles/{fee_profile_id}:
    get:
      description: Get fee profile
      summary: Fetch a Fee Profile
      operationId: getFeeProfile
      responses:
        '200':
          $ref: '#/components/responses/FeeProfile'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      tags:
      - Fee Profiles
      x-python-method-name: get
    parameters:
    - required: true
      in: path
      name: fee_profile_id
      schema:
        type: string
      description: The ID of the fee profile.
  /identities:
    post:
      tags:
      - Identities
      description: 'Create an `Identity` for your merchant or buyer.


        Creating `Identities` for merchants requires they provide [KYC details](/docs/guides/getting-started/).


        Related Guides: [Getting Started](/docs/guides/getting-started/), [Onboarding](/docs/guides/onboarding/)'
      summary: Create an Identity
      operationId: createIdentity
      requestBody:
        $ref: '#/components/requestBodies/CreateIdentityRequest'
      responses:
        '201':
          $ref: '#/components/responses/Identity'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: create
      x-python-method-name: create
    get:
      tags:
      - Identities
      description: Retrieves a list of `Identities`.
      summary: List Identities
      operationId: listIdentities
      parameters:
      - $ref: '#/components/parameters/QuerySort'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryIdFilter'
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryDefaultStatementDescriptorFilter'
      - $ref: '#/components/parameters/QueryBusinessName'
      - $ref: '#/components/parameters/QueryBusinessType'
      - $ref: '#/components/parameters/QueryEmail'
      - $ref: '#/components/parameters/QueryFirstName'
      - $ref: '#/components/parameters/QueryLastName'
      - $ref: '#/components/parameters/QueryTitle'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/IdentitiesList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /identities/{identity_id}:
    get:
      tags:
      - Identities
      description: Retrieve the details of a previously created `Identity`.
      summary: Fetch an Identity
      operationId: getIdentity
      responses:
        '200':
          $ref: '#/components/responses/Identity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of the `identity` to fetch
      required: true
      in: path
      name: identity_id
      schema:
        type: string
    put:
      tags:
      - Identities
      description: "Update an existing `Identity`.\n\nIf you are updating the `Identity`\
        \ of a `Merchant` that\u2019s already been onboarded, you need to [verify\
        \ the merchant again](#operation/createMerchantVerification)."
      summary: Update an Identity
      operationId: updateIdentity
      requestBody:
        $ref: '#/components/requestBodies/UpdateIdentityRequest'
      responses:
        '200':
          $ref: '#/components/responses/Identity'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: update
      x-python-method-name: update
  /identities/{identity_id}/associated_identities:
    post:
      tags:
      - Identities
      description: Create an associated `Identity` for [every owner with 25% or more
        ownership](/guides/onboarding/#step-3-add-associated-identities) over the
        merchant.
      summary: Create an Associated Identity
      operationId: createAssociatedIdentity
      requestBody:
        $ref: '#/components/requestBodies/CreateIdentityRequest'
      responses:
        '201':
          $ref: '#/components/responses/Identity'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: createAssociatedIdentity
      x-python-method-name: create_associated_identity
    get:
      tags:
      - Identities
      description: Retrieve a list of `Associated Identities` for an `Identity`.
      summary: List Associated Identities
      operationId: listIdentityAssociatedIdentities
      parameters:
      - required: false
        in: query
        name: limit
        schema:
          type: integer
          format: int64
        description: The number of entries to return.
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/IdentitiesList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: listAssocaiatedIdentities
      x-group-parameters: true
      x-python-method-name: list_assocaiated_identities
      x-returns-list: true
    parameters:
    - description: ID of `Identity` to associate object with.
      required: true
      in: path
      name: identity_id
      schema:
        type: string
  /identities/{identity_id}/merchants:
    parameters:
    - description: ID of `Identity` to fetch.
      required: true
      in: path
      name: identity_id
      schema:
        type: string
    post:
      description: "Create a `Merchant` to start the underwriting process for your\
        \ merchant. `Merchants` must be created under an [`Identity`](#tag/Identities).\n\
        \n> A bank account must be associated with the previously created `Identity`\
        \ before a `Merchant` can be succefully onboarded and verified.\n\n`Merchant`\
        \ resources can have three possible `onboarding_states`:\n\n1. **PROVISIONING**:\
        \ The request is pending (the state may change after two minutes).\n    *\
        \ `processing_enabled`: **False**\n    * `settlement_enabled`: **False**\n\
        \n1. **APPROVED**: The `Merchant` has been approved and can begin processing\
        \ payments.\n    * `processing_enabled`: **True**\n   * `settlement_enabled`:\
        \ **True**\n\n1. **REJECTED**: The `Merchant` was rejected by the processor\
        \ because of invalid information or it failed a regulatory and/or compliance\
        \ check (e.g. KYC, OFAC, or MATCH). Make any changes that are needed, and\
        \ [try verifying the `Merchant` again](#operation/createMerchantVerification).\n\
        \    * `processing_enabled`: **False**\n    * `settlement_enabled`: **False**\n\
        \n\n> Provisioning a `Merchant` account is an asynchronous request. We recommend\
        \ creating a [`Webhook`](#tag/Webhooks) to listen for the state change."
      summary: Create a Merchant
      operationId: createMerchant
      requestBody:
        $ref: '#/components/requestBodies/CreateMerchantUnderwritingRequest'
      responses:
        '201':
          $ref: '#/components/responses/Merchant'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
      tags:
      - Merchants
      x-java-method-name: create
      x-python-method-name: create
  /identities/{identity_id}/settlements:
    parameters:
    - description: ID of identity to fetch
      required: true
      in: path
      name: identity_id
      schema:
        type: string
    post:
      description: Create a batch `Settlement`. A `Settlement` is a collection of
        **SUCCEEDED** Transfers that are ready to get paid out to a `Merchant`.
      summary: Create a Batch Settlement
      operationId: createIdentitySettlement
      requestBody:
        $ref: '#/components/requestBodies/CreateIdentitySettlementRequest'
      responses:
        '201':
          $ref: '#/components/responses/Settlement'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/ErrorMerchantIdentityDisabled'
      x-internal: false
      x-java-method-name: create
      tags:
      - Settlements
      x-python-method-name: create
  /identities/{identity_id}/verifications:
    parameters:
    - description: ID of identity to fetch
      required: true
      in: path
      name: identity_id
      schema:
        type: string
    post:
      summary: Verify an Identity
      operationId: createIdentityVerification
      responses:
        '201':
          $ref: '#/components/responses/Verification'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      description: Verify an `Identity`.
      requestBody:
        $ref: '#/components/requestBodies/CreateVerificationRequest'
      tags:
      - Identities
      x-python-method-name: create_identity_verification
  /merchant_profiles:
    get:
      tags:
      - Merchant Profiles
      description: Get list of all the merchant_profiles objects
      summary: List Merchant Profiles
      operationId: listMerchantProfiles
      parameters:
      - $ref: '#/components/parameters/QueryIdFilter'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryLimit'
      responses:
        '200':
          $ref: '#/components/responses/MerchantProfilesList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /merchants:
    get:
      tags:
      - Merchants
      description: 'Retrieve a list of `Merchants`. '
      summary: List Merchants
      operationId: listMerchants
      parameters:
      - $ref: '#/components/parameters/QueryIdFilter'
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QuerySort'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/MerchantsList'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /merchants/{merchant_id}:
    get:
      tags:
      - Merchants
      description: Retrieve the details of a `Merchant`.
      summary: Get a Merchant
      operationId: getMerchant
      responses:
        '200':
          $ref: '#/components/responses/Merchant'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of `Merchant`.
      required: true
      in: path
      name: merchant_id
      schema:
        type: string
    put:
      tags:
      - Merchants
      description: "Update a `Merchant` to: \n- Change the `Identity` information\
        \ saved with the underlying processor\n- Enable Level 2/3 processing\n- Enable\
        \ [Buyer Chages](/guides/payments/buyer-charges/)"
      summary: Update a Merchant
      operationId: updateMerchant
      requestBody:
        $ref: '#/components/requestBodies/UpdateMerchantRequest'
      responses:
        '200':
          $ref: '#/components/responses/MerchantUpdated'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: update
      x-python-method-name: update
  /merchant_profiles/{merchant_profile_id}:
    get:
      tags:
      - Merchant Profiles
      description: Get the merchant profile object
      summary: Show Merchant Profile
      operationId: getMerchantProfile
      responses:
        '200':
          $ref: '#/components/responses/MerchantProfile'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of merchant profile
      required: true
      in: path
      name: merchant_profile_id
      schema:
        type: string
    put:
      tags:
      - Merchant Profiles
      description: Update a merchant profile
      summary: Update a Merchant Profile
      operationId: updateMerchantProfile
      requestBody:
        $ref: '#/components/requestBodies/CreateMerchantProfileRequest'
      responses:
        '200':
          $ref: '#/components/responses/MerchantProfile'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: update
      x-internal: false
      x-python-method-name: update
  /merchants/{merchant_id}/devices:
    parameters:
    - description: ID of the `Merchant` object.
      required: true
      in: path
      name: merchant_id
      schema:
        type: string
    post:
      description: Create a `Device` under a `Merchant`.
      summary: Create a Device
      operationId: createMerchantDevice
      responses:
        '200':
          $ref: '#/components/responses/Device'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-internal: false
      tags:
      - Devices
      requestBody:
        $ref: '#/components/requestBodies/CreateDeviceRequest'
      x-java-method-name: create
      x-python-method-name: create
  /merchants/{merchant_id}/verifications:
    get:
      description: Get a list of all the `Verifications` in the `Merchant` object.
      summary: List Merchant Verifications
      operationId: listMerchantVerifications
      parameters:
      - required: false
        in: query
        name: limit
        schema:
          type: integer
          format: int64
        description: The number of entries to return.
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/VerificationsList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-internal: false
      x-java-method-name: listByMerchantId
      x-group-parameters: true
      tags:
      - Verifications
      x-python-method-name: list_by_merchant_id
      x-returns-list: true
    parameters:
    - description: ID of `Merchant` object.
      required: true
      in: path
      name: merchant_id
      schema:
        type: string
    post:
      tags:
      - Merchants
      description: Verify a merchant either to reattempt provisioning, or when the
        merchant's `Identity` was updated.
      summary: Verify a Merchant
      operationId: createMerchantVerification
      requestBody:
        $ref: '#/components/requestBodies/CreateVerificationRequest'
      responses:
        '201':
          $ref: '#/components/responses/Verification'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-python-method-name: create_merchant_verification
  /payment_instruments:
    post:
      tags:
      - Payment Instruments
      description: 'Create a `Payment Instrument` resource using a card or bank account.


        To accept payment details, review our guide on how to [tokenize cards using
        hosted fields](/guides/payments/tokenization-with-hosted-fields).


        > The creation of `Payment Instruments` using cards directly via Finix''s
        API should only be done for testing purposes. You must use the Hosted Tokenization
        fields or javascript client to remain out of PCI scope.'
      summary: Create a Payment Instrument
      operationId: createPaymentInstrument
      requestBody:
        $ref: '#/components/requestBodies/CreatePaymentInstrumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/PaymentInstrument'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: create
      x-python-method-name: create
    get:
      tags:
      - Payment Instruments
      description: Retrieve a list of `Payment Instruments`.
      summary: List Payment Instruments
      operationId: listPaymentInstruments
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryAccountLastFour'
      - $ref: '#/components/parameters/QueryAccountRoutingNumber'
      - $ref: '#/components/parameters/QueryApplicationFilter'
      - $ref: '#/components/parameters/QueryBin'
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryExpirationMonth'
      - $ref: '#/components/parameters/QueryExpirationYear'
      - $ref: '#/components/parameters/QueryLastFour'
      - $ref: '#/components/parameters/QueryName'
      - $ref: '#/components/parameters/QueryOwnerIdentity'
      - $ref: '#/components/parameters/QueryPaymentInstrumentType'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/PaymentInstrumentsList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /payment_instruments/{payment_instrument_id}:
    get:
      tags:
      - Payment Instruments
      description: Retrieve the details of a `Payment Instrument`.
      summary: Get a Payment Instrument
      operationId: getPaymentInstrument
      responses:
        '200':
          $ref: '#/components/responses/PaymentInstrument'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of object
      required: true
      in: path
      name: payment_instrument_id
      schema:
        type: string
    put:
      tags:
      - Payment Instruments
      description: Update a `Payment Instrument`.
      summary: Update a Payment Instrument
      operationId: updatePaymentInstrument
      requestBody:
        $ref: '#/components/requestBodies/UpdatePaymentInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PaymentInstrument'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: update
      x-python-method-name: update
  /payment_instruments/{payment_instrument_id}/updates:
    get:
      tags:
      - Payment Instruments
      description: 'List the updates on a `Payment Instrument`.


        When using the [account updater](/guides/payments/account-updater), `Payment
        Instrument` details that are updated are represented by an `Update`.'
      summary: List Payment Instrument Updates
      operationId: listPaymentInstrumentUpdates
      parameters:
      - required: false
        in: query
        name: limit
        schema:
          type: integer
          format: int64
        description: The number of entries to return.
      - required: false
        in: query
        name: offset
        schema:
          type: integer
          format: int64
        description: The number of items to skip before starting to collect the result
          set.
      - required: false
        in: query
        name: pageSize
        schema:
          type: integer
          format: int64
        description: The size of the page.
      responses:
        '200':
          $ref: '#/components/responses/PaymentInstrumentUpdatesList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: listUpdatesByPaymentInstrumentId
      x-group-parameters: true
      x-internal: false
      x-python-method-name: list_updates_by_payment_instrument_id
      x-returns-list: true
    parameters:
    - description: ID of object
      required: true
      in: path
      name: payment_instrument_id
      schema:
        type: string
  /settlements:
    get:
      tags:
      - Settlements
      description: Retrieve a list of `Settlements`.
      summary: List Settlements
      operationId: listSettlements
      parameters:
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtGteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtLteFilter'
      - $ref: '#/components/parameters/QueryIdFilter'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/SettlementsList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /settlements/{settlement_id}:
    get:
      tags:
      - Settlements
      description: Retreive the details of a `Settlement`.
      summary: Get a Settlement
      operationId: getSettlement
      responses:
        '200':
          $ref: '#/components/responses/Settlement'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of `Settlement` object.
      required: true
      in: path
      name: settlement_id
      schema:
        type: string
    put:
      tags:
      - Settlements
      description: Update a `Settlement`.
      summary: Update a Settlement
      operationId: updateSettlement
      responses:
        '200':
          $ref: '#/components/responses/Settlement'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      requestBody:
        $ref: '#/components/requestBodies/UpdateSettlementRequest'
      x-java-method-name: update
      x-python-method-name: update
  /settlements/{settlement_id}/funding_transfers:
    get:
      tags:
      - Settlements
      description: Retrieve the `Transfers` in a `Settlement` that have `type` **CREDIT**.
      summary: List Settlement Funding Transfers
      operationId: listSettlementFundingTransfers
      responses:
        '200':
          $ref: '#/components/responses/TransfersList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: listFundingTransfers
      x-group-parameters: true
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      x-python-method-name: list_funding_transfers
      x-returns-list: true
    parameters:
    - description: ID of `Settlement` object.
      required: true
      in: path
      name: settlement_id
      schema:
        type: string
  /settlements/{settlement_id}/transfers:
    delete:
      tags:
      - Settlements
      description: 'Remove a `Transfer` from a `Settlement`.


        As long as the `Settlement` hasn''t been funded, you can remove the `Transfer`
        or an array of `Transfers`, along with its corresponding `fee` from a batch
        `Settlement`.



        > Per the JSON API for deleting a resource, our API doesn''t have a response
        body when removing a `Transfer` from a `Settlement`.'
      summary: Delete Settlement Transfers
      operationId: removeSettlementTransfers
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-internal: false
      x-java-method-name: removeTransfersFromSettlement
      requestBody:
        $ref: '#/components/requestBodies/RemoveSettlementTransfer'
      x-python-method-name: remove_transfers_from_settlement
    get:
      description: Retrieve the `Transfers` in a `Settlement` that have `type` **DEBIT**
        or **REFUND**.
      summary: List Settlement Transfers
      operationId: listSettlementTransfers
      responses:
        '200':
          $ref: '#/components/responses/TransfersList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-internal: false
      x-java-method-name: listTransfersBySettlementId
      x-group-parameters: true
      tags:
      - Settlements
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      x-python-method-name: list_transfers_by_settlement_id
      x-returns-list: true
    parameters:
    - description: ID of `Settlement` object.
      required: true
      in: path
      name: settlement_id
      schema:
        type: string
  /transfers:
    post:
      tags:
      - Transfers
      description: "Create a `Transfer`. \n\n> By default, Finix implements a 3 (business)\
        \ day delay when debiting bank accounts (i.e. eChecks)."
      summary: Create a Transfer
      operationId: createTransfer
      requestBody:
        $ref: '#/components/requestBodies/CreateTransferRequest'
      responses:
        '201':
          $ref: '#/components/responses/Transfer'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '402':
          $ref: '#/components/responses/ErrorTransfers402'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-java-method-name: create
      x-python-method-name: create
    get:
      tags:
      - Transfers
      description: Retrieve a list of `Transfers`.
      summary: List Transfers
      operationId: listTransfers
      parameters:
      - $ref: '#/components/parameters/QuerySort'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAmountFilter'
      - $ref: '#/components/parameters/QueryAmountGteFilter'
      - $ref: '#/components/parameters/QueryAmountGtFilter'
      - $ref: '#/components/parameters/QueryAmountLteFilter'
      - $ref: '#/components/parameters/QueryAmountLtFilter'
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryIdempotencyIdFilter'
      - $ref: '#/components/parameters/QueryIdFilter'
      - in: query
        name: state
        description: Filter by Transaction state.
        schema:
          enum:
          - ALL
          - SUCCEEDED
          - FAILED
          - PENDING
          - CANCELED
      - $ref: '#/components/parameters/QuerySettlementReadyToSettleAtGteFilter'
      - $ref: '#/components/parameters/QuerySettlementReadyToSettleAtLteFilter'
      - $ref: '#/components/parameters/QueryStatementDescriptorFilter'
      - $ref: '#/components/parameters/QueryTraceIdFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtGteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtLteFilter'
      - in: query
        name: instrument_bin
        description: Filter by Bank Identification Number (BIN). The BIN is the first
          6 digits of the masked number
        schema:
          type: string
      - schema:
          type: string
        in: query
        name: instrument_account_last4
        description: "Filter Transactions by the last 4 digits of the bank account.\
          \ The bank account last 4 are the last 4 digits of the masked number\tinstrument_account_last4=9444\
          \ BIN\t"
      - schema:
          type: string
        in: query
        name: instrument_brand_type
        description: Filter by card brand. Available card brand types can be found
          in the drop-down
      - schema:
          type: string
        in: query
        name: merchant_identity_id
        description: Filter by Identity ID
      - schema:
          type: string
        in: query
        name: merchant_identity_name
        description: Filter Transactions by Identity name. The name is not case-sensitive
      - schema:
          type: string
        in: query
        name: instrument_name
        description: Filter Transactions by payment instrument name
      - schema:
          type: string
        in: query
        name: instrument_type
        description: 'Filter Transactions by payment instrument type. Available instrument
          types include: Bank Account or Payment Card'
      - schema:
          type: string
        in: query
        name: merchant_id
        description: Filter by Merchant ID
      - schema:
          type: string
        in: query
        name: merchant_mid
        description: Filter by Merchant Identification Number (MID)
      - schema:
          type: string
        in: query
        name: instrument_card_last4
        description: Filter by the payment card last 4 digits
      - schema:
          type: string
        in: query
        name: merchant_processor_id
        description: Filter by Processor ID
      - schema:
          type: string
          enum:
          - ALL
          - DEBITS
          - CREDITS
          - REVERSAL
          - SETTLEMENT
          example: REVERSAL
        in: query
        name: type
        description: 'Filter by Transfer type. Available type filters include: All,
          Debits, Refunds, or Credits.'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/TransfersList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /transfers/{transfer_id}:
    get:
      tags:
      - Transfers
      description: Retrieve a `transfer`.
      summary: Get a Transfer
      operationId: getTransfer
      responses:
        '200':
          $ref: '#/components/responses/Transfer'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of `transfer` object.
      required: true
      in: path
      name: transfer_id
      schema:
        type: string
    put:
      tags:
      - Transfers
      description: Update a `Transfer`.
      summary: Update a Transfer
      operationId: updateTransfer
      responses:
        '200':
          $ref: '#/components/responses/Transfer'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      requestBody:
        $ref: '#/components/requestBodies/UpdateTransferRequest'
      x-java-method-name: update
      x-python-method-name: update
  /transfers/{transfer_id}/reversals:
    post:
      tags:
      - Transfers
      description: "Reverse a transfer with a `type` of **DEBIT**. This reversal creates\
        \ a new `Transfer` resource with a `type` of **REVERSAL**. \n\nThe refund\
        \ can get delivered in most cases without the physical card. The card only\
        \ needs to be swiped (to receive the refund) when:\n\n- The payment type is\
        \ **DEBIT**, and the transaction is no longer in the batch.\n- The payment\
        \ type is **CREDIT**, and the transaction is no longer in the batch and is\
        \ older than 45 days."
      summary: Refund or Reverse a Transfer
      operationId: createTransferReversal
      requestBody:
        $ref: '#/components/requestBodies/CreateReversalRequest'
      responses:
        '201':
          $ref: '#/components/responses/Transfer'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
      x-python-method-name: create_transfer_reversal
    get:
      tags:
      - Transfers
      description: Retrieve a list of reversals for a `Transfer`.
      summary: List Reversals on a Transfer
      operationId: listTransferReversals
      parameters:
      - required: false
        in: query
        name: limit
        schema:
          type: integer
          format: int64
        description: The number of entries to return.
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/ReversalsList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: listTransfersReversals
      x-group-parameters: true
      x-python-method-name: list_transfers_reversals
      x-returns-list: true
    parameters:
    - description: ID of `transfer` object
      required: true
      in: path
      name: transfer_id
      schema:
        type: string
  /verifications:
    post:
      tags:
      - Verifications
      description: 'Create a `verification` to verify an `Identity` or `Payment Instrument`.


        Verifications can also be created directly on the resources you want to verify:

        - `POST /merchants/{id}/verifications`

        - `POST /payment_instruments/{id}/verifications`'
      summary: Perform a Verification
      operationId: createVerification
      requestBody:
        $ref: '#/components/requestBodies/CreateVerificationRequest'
      responses:
        '201':
          $ref: '#/components/responses/Verification'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-java-method-name: create
      x-python-method-name: create
    get:
      tags:
      - Verifications
      description: Retrieve a list of `Verifications`.
      summary: List Verifications
      operationId: listVerifications
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/VerificationsList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /verifications/{verification_id}:
    get:
      tags:
      - Verifications
      description: Retrieve the details of a `Verification`.
      summary: Get a Verification
      operationId: getVerification
      responses:
        '200':
          $ref: '#/components/responses/Verification'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of `Verification` object.
      required: true
      in: path
      name: verification_id
      schema:
        type: string
  /webhooks:
    post:
      tags:
      - Webhooks
      description: Create a `Webhook` to specify an endpoint where Finix can send
        events.
      summary: Create a Webhook
      operationId: createWebhook
      requestBody:
        $ref: '#/components/requestBodies/CreateWebhookRequest'
      responses:
        '201':
          $ref: '#/components/responses/Webhook'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-java-method-name: create
      x-python-method-name: create
    get:
      tags:
      - Webhooks
      description: Retrieve a list of `Webhooks`.
      summary: List Webhooks
      operationId: listWebhooks
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/WebhooksList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /webhooks/{webhook_id}:
    get:
      tags:
      - Webhooks
      description: Retrieve the details of a `Webhook`.
      summary: Get a Webhook
      operationId: getWebhook
      responses:
        '200':
          $ref: '#/components/responses/Webhook'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-python-method-name: get
    parameters:
    - description: ID of `Webhook` object.
      required: true
      in: path
      name: webhook_id
      schema:
        type: string
    put:
      tags:
      - Webhooks
      description: Update an existing `Webhook`.
      summary: Update a Webhook
      operationId: updateWebhook
      requestBody:
        $ref: '#/components/requestBodies/UpdateWebhookRequest'
      responses:
        '200':
          $ref: '#/components/responses/Webhook'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: update
      x-python-method-name: update
  /balance_transfers/{balance_transfers_id}:
    parameters:
    - schema:
        type: string
      name: balance_transfers_id
      in: path
      required: true
      description: ID of the `balance_transfer` resource.
    get:
      summary: Get a Balance Transfer
      tags:
      - Balance Transfers
      responses:
        '200':
          $ref: '#/components/responses/BalanceTransfer'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      operationId: getBalanceTransfers
      description: Retrieve the details of a `balance_transfer`.
      x-internal: false
      x-java-method-name: get
      x-python-method-name: get
  /instrument_updates:
    post:
      summary: Create Instrument Updates
      operationId: createPaymentInstrumentUpdate
      responses:
        '200':
          $ref: '#/components/responses/InstrumentUpdate'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      description: To update the card details of your customers, create an `instrument_updates`
        resource. Include the `Payment Instrument` IDs you want to update in a CSV.
        For more info, the following guide on using our [Account Updater](/docs/guides/payments/account-updater/).
      requestBody:
        $ref: '#/components/requestBodies/CreateInstrumentUpdateRequest'
      parameters: []
      tags:
      - Instrument Updates
      x-java-method-name: create
      x-python-method-name: create
  /instrument_updates/{instrument_updates_id}/download:
    parameters:
    - schema:
        type: string
      name: instrument_updates_id
      in: path
      required: true
      description: The ID of the `instrument_updates` resource. This ID was returned
        when initially creating the `instrument_updates` object.
    get:
      summary: Download Instrument Updates
      tags:
      - Instrument Updates
      responses:
        '200':
          description: "The updated `Payment Instruments` will be returned in the\
            \ following comma seperated format:\n\npayment\\_instrument\\_original,\t\
            | payment\\_instrument_new, |result\n--------------------------- | ----------------------\
            \ | -----\nPIlkNdfZibF8a7Prd2teGB1 | PI3aQGaCM5nDMjqyTXcbUJzR| CARD\\\
            _EXPIRATION_UPDATED\nPIJPXW0HZ9lpO1nb6sog5DiX  | PIdBHpy7BBSxd2z81VdKpVbT\
            \ | CARD\\_NOT\\_FOUND\nPI0ovZAS9yfEtgDrZnMaiLvi   | PIhXS0jXNTmklyVk91EsohuZ\
            \ | CONTACT\\_CARDHOLDER\nPInOrrKY3G1U33hGYTQJ8cIY |  | CLOSED\\_ACCOUNT\n\
            PIlkAOt5kTVhuuxxbmOi9qn |  | INVALID\\_CARD\nPIiRLbbG4i5daypWNzIrq2xD\
            \   |  | NO\\_CHANGE\\_FOUND\nPIy5llZGt6VxlDqbcTgATqeH     | \t  | UNKNOWN"
          content:
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      operationId: downloadInstrumentUpdate
      description: "Fetch a previously created `instrument_updates` resource as a\
        \ CSV. \n\nTo fetch the `instrument_updates` resource in JSON, add `?format=json`\
        \ to the request endpoint."
      parameters:
      - $ref: '#/components/parameters/QueryFormat'
      x-group-parameters: true
      x-java-method-name: download
      x-python-method-name: download
  /files:
    post:
      summary: Create a File
      operationId: createFiles
      responses:
        '200':
          $ref: '#/components/responses/File'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      description: "Before uploading a file, you need to create a `File` resource.\
        \ \n\nOnce created, you can [upload](/#operation/uploadFile) your file to\
        \ the new `File` resource."
      requestBody:
        $ref: '#/components/requestBodies/CreateFileRequest'
      tags:
      - Files
      x-java-method-name: create
      x-python-method-name: create
    get:
      summary: List All Files
      tags:
      - Files
      responses:
        '200':
          $ref: '#/components/responses/FilesList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      operationId: listFiles
      description: List all the `File` resources you've created. For more info, see
        [Uploading files to Finix](/guides/onboarding/uploading-files-to-finix/#step-1-create-a-file).
      parameters:
      - $ref: '#/components/parameters/QuerySort'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryIdFilter'
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtGteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtLteFilter'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      x-java-method-name: list
      x-group-parameters: true
      x-python-method-name: list
      x-returns-list: true
  /files/{file_id}:
    parameters:
    - schema:
        type: string
      name: file_id
      in: path
      required: true
      description: Your `File` ID.
    get:
      summary: Fetch a File
      tags:
      - Files
      responses:
        '200':
          $ref: '#/components/responses/File'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      operationId: getFile
      description: Retrieve the details of a `File` resource. For more info see [Uploading
        files to Finix](/guides/onboarding/uploading-files-to-finix/#create-an-external-link).
      x-java-method-name: get
      x-python-method-name: get
  /files/{file_id}/external_links:
    parameters:
    - schema:
        type: string
      name: file_id
      in: path
      required: true
      description: Your `File` ID.
    get:
      summary: List All External Links
      tags:
      - Files
      responses:
        '200':
          $ref: '#/components/responses/ExternalLinksList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          description: Not Acceptable
      operationId: listExternalLinks
      description: List the previously `external_links` for a `File`. For more info,
        see [Uploading files to Finix](/guides/onboarding/uploading-files-to-finix/#create-an-external-link).
      parameters:
      - $ref: '#/components/parameters/QuerySort'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryIdFilter'
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtGteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtLteFilter'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      x-group-parameters: true
      x-python-method-name: list_external_links
      x-returns-list: true
    post:
      summary: Create an External Link
      operationId: createExternalLink
      responses:
        '200':
          $ref: '#/components/responses/ExternalLink'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      description: "Create an `external_link` resource to share with users so they\
        \ can upload files directly from their browser. For more info, see [Uploading\
        \ files to Finix](/docs/guides/onboarding/uploading-files-to-finix/). \n\n\
        Once created, you can request the user to upload a file to the `external_link`\
        \ resource: [Upload files to External Link](#operation/uploadExternalLink)"
      requestBody:
        $ref: '#/components/requestBodies/CreateExternalLinkRequest'
      tags:
      - Files
      x-python-method-name: create_external_link
  /files/{file_id}/upload:
    parameters:
    - schema:
        type: string
      name: file_id
      in: path
      required: true
      description: The ID of the `File` that was created to upload the file.
    post:
      summary: Upload files Directly
      operationId: uploadFile
      responses:
        '200':
          $ref: '#/components/responses/File'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      description: Upload files directly with a `multipart/form-data` request. For
        more info see, [Uploading files to Finix](/guides/onboarding/uploading-files-to-finix/#step-2-upload-the-file).
      parameters: []
      tags:
      - Files
      requestBody:
        $ref: '#/components/requestBodies/UploadFileRequest'
      x-python-method-name: upload_file
  /files/{file_id}/download:
    parameters:
    - schema:
        type: string
      name: file_id
      in: path
      required: true
      description: The ID of the `File` that was created to upload the file.
    get:
      summary: Download a file
      tags:
      - Files
      responses:
        '200':
          $ref: '#/components/responses/FileDownload'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      operationId: downloadFile
      description: Download a file uploaded to a `File` resource. For more info, see
        [Uploading files to Finix](/guides/onboarding/uploading-files-to-finix).
      x-python-method-name: download_file
  /files/{file_id}/external_links/{external_link_id}:
    parameters:
    - schema:
        type: string
      name: file_id
      in: path
      required: true
      description: The ID of the `File` that has the links you want to retrieve.
    - schema:
        type: string
      name: external_link_id
      in: path
      required: true
      description: The ID of the `external_link` that you want to retireve.
    get:
      summary: Fetch an External LInk
      tags:
      - Files
      responses:
        '200':
          $ref: '#/components/responses/ExternalLink'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      operationId: getExternalLink
      description: Fetch a previously created `external_link` resource. For more info
        see [Uploading files to Finix](/guides/onboarding/uploading-files-to-finix/#create-an-external-link).
      x-python-method-name: get_external_link
  /apple_pay_sessions:
    post:
      summary: Create an Apple Pay Session
      operationId: createApplePaySession
      responses:
        '200':
          $ref: '#/components/responses/ApplePaySession'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      tags:
      - Payment Instruments
      requestBody:
        $ref: '#/components/requestBodies/CreateApplePaySessionRequest'
      description: 'Create an `apple_pay_session` to process Apple Pay transactions
        on the web.


        To create an Apple Pay Session, pass the unique `validation_url` (provided
        by Apple) while creating an `apple_pay_sessions` resource. Finix returns a
        `merchantSession` object that you can use to create a payment. For more information,
        see [Apple Pay](/docs/guides/payments/alternative-payment-methods/apple-pay/).'
      x-python-method-name: create_apple_pay_session
  /disputes/{dispute_id}/adjustment_transfers:
    parameters:
    - schema:
        type: string
      name: dispute_id
      in: path
      required: true
      description: ID of the `Dispute` resource.
    get:
      summary: Fetch Dispute Adjustment Transfers
      tags:
      - Disputes
      responses:
        '200':
          $ref: '#/components/responses/AdjustmentTransfersList'
        '401':
          description: Unauthorized
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      operationId: listDisputesAdjustments
      description: 'List the adjustment `Transfers` for a `Dispute`. Depending on
        the stage of the `Dispute`, different adjustment `Transfer` subtypes can be
        applied.


        There are four available subtypes for adjustment `Transfers` in `Disputes`:
        <ul><li><strong>PLATFORM\_CREDIT</strong><li><strong>MERCHANT\_DEBIT</strong><li><strong>MERCHANT\_CREDIT</strong><li><strong>PLATFORM\_DEBIT</strong></ul>'
      x-group-parameters: true
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      x-python-method-name: list_disputes_adjustments
      x-returns-list: true
  /instrument_updates/{instrument_updates_id}:
    parameters:
    - schema:
        type: string
      description: The Id of the instrument update.
      name: instrument_updates_id
      in: path
      required: true
    get:
      summary: Fetch an Instrument Update
      tags:
      - Instrument Updates
      responses:
        '200':
          $ref: '#/components/responses/InstrumentUpdate'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      operationId: getInstrumentUpdate
      description: Fetch a specific `instrument_update` from an `instrument_updates`
        resource. For more information, see the guide on using our [Account Updater](/guides/payments/account-updater).
      x-java-method-name: get
      x-python-method-name: get
components:
  headers:
    date:
      schema:
        type: string
        pattern: ^\w\w\w, \d\d \w\w\w \d\d\d\d \d\d:\d\d:\d\d GMT$
    finix-apiuser-role:
      schema:
        type: string
        enum:
        - ROLE_ADMIN
        - ROLE_PLATFORM
        - ROLE_PARTNER
        - ROLE_MERCHANT
    x-request-id:
      description: A unique ID for this specific API request attempt.
      schema:
        type: string
  parameters:
    ApplicationId:
      description: ID of application to use
      in: path
      name: application_id
      schema:
        type: string
      required: true
    ApplicationProfileId:
      description: ID of application profile to use
      required: true
      in: path
      name: application_profile_id
      schema:
        type: string
    AuthorizationId:
      description: ID of authorization to fetch
      required: true
      in: path
      name: authorization_id
      schema:
        type: string
    FeeId:
      description: ID of fee to use
      required: true
      in: path
      name: fee_id
      schema:
        type: string
    QueryAmountFilter:
      description: Filter by an amount equal to the given value
      in: query
      name: amount
      schema:
        type: integer
      style: form
    QueryAmountGtFilter:
      description: Filter by an amount greater than
      in: query
      name: amount.gt
      schema:
        type: integer
      style: form
    QueryAmountGteFilter:
      description: Filter by an amount greater than or equal
      in: query
      name: amount.gte
      schema:
        type: integer
      style: form
    QueryAmountLtFilter:
      description: Filter by an amount less than
      in: query
      name: amount.lt
      schema:
        type: integer
      style: form
    QueryAmountLteFilter:
      description: Filter by an amount less than or equal
      in: query
      name: amount.lte
      schema:
        type: integer
      style: form
    QueryApplicationFilter:
      description: Filter by application id
      in: query
      name: application
      schema:
        type: string
      style: form
    QueryCreatedAtGteFilter:
      description: Filter where created_at is after the given date.
      in: query
      name: created_at.gte
      schema:
        type: string
        example: created_at.gte=2019-06-15
      style: form
    QueryCreatedAtLteFilter:
      description: Filter where created_at is before the given date.
      in: query
      name: created_at.lte
      schema:
        type: string
        example: created_at.lte=2019-06-15
      style: form
    QueryDefaultStatementDescriptorFilter:
      description: Filter by the default_statement_descriptor
      in: query
      name: default_statement_descriptor
      schema:
        type: string
      style: form
    QueryIdFilter:
      description: Filter by id
      in: query
      name: id
      schema:
        type: string
      style: form
    QueryIdempotencyIdFilter:
      description: Filter by idempotency_id
      in: query
      name: idempotency_id
      schema:
        type: string
      style: form
    QueryLimit:
      description: The numbers of items to return
      example: 10
      in: query
      name: limit
      schema:
        type: integer
      style: form
    QueryOffset:
      description: The number of items to skip before starting to collect the result
        set
      example: 20
      in: query
      name: offset
      schema:
        type: integer
      style: form
    QuerySettlementReadyToSettleAtGteFilter:
      description: Filter by ready_to_settle_at
      in: query
      name: ready_to_settle_at.gte
      schema:
        type: string
      style: form
    QuerySettlementReadyToSettleAtLteFilter:
      description: Filter by ready_to_settle_at
      in: query
      name: ready_to_settle_at.lte
      schema:
        type: string
      style: form
    QuerySort:
      description: Specify key to be used for sorting the collection
      in: query
      name: sort
      schema:
        type: string
      style: form
    QueryStatementDescriptorFilter:
      description: Filter by statement_descriptor
      in: query
      name: statement_descriptor
      schema:
        type: integer
      style: form
    QueryTraceIdFilter:
      description: Filter by trace_id
      in: query
      name: trace_id
      schema:
        type: string
      style: form
    QueryUpdatedAtGteFilter:
      description: Filter where updated_at is after the given date
      in: query
      name: updated_at.gte
      schema:
        type: string
      style: form
    QueryUpdatedAtLteFilter:
      description: Filter where updated_at is before the given date
      in: query
      name: updated_at.lte
      schema:
        type: string
      style: form
    QueryVoidFilter:
      description: Filter by idempotency_id
      in: query
      name: is_void
      schema:
        type: string
      style: form
    QueryBusinessName:
      name: business_name
      in: query
      required: false
      schema:
        type: string
      description: Filter by the full business name. Partial business names are not
        supported.
    QueryBusinessType:
      name: business_type
      in: query
      required: false
      schema:
        type: string
      description: Filter by the business type. Partial business types are not supported
    QueryEmail:
      name: email
      in: query
      required: false
      schema:
        type: string
        example: user@example.org
      description: Filter by the email address or email domain. Partial emails are
        not supported.
    QueryFirstName:
      name: first_name
      in: query
      required: false
      schema:
        type: string
        example: first_name=Daphne
      description: Filter by the first name of the person associated to the Identity.
    QueryLastName:
      name: last_name
      in: query
      required: false
      schema:
        type: string
        example: kline
      description: Filter by the last name of the person associated to the identity.
    QueryTitle:
      name: title
      in: query
      required: false
      schema:
        type: string
        example: ceo
      description: Filter by the title if available.
    QueryAccountLastFour:
      name: account_last4
      in: query
      required: false
      schema:
        type: string
        example: '9444'
      description: Filter by the last 4 digits of the account if available.
    QueryAccountRoutingNumber:
      name: account_routing_number
      in: query
      required: false
      schema:
        type: string
        example: '9444'
      description: Filter by the account routing number if available.
    QueryBin:
      name: bin
      in: query
      required: false
      schema:
        type: string
        example: '489514'
      description: Filter by Bank Identification Number (BIN). The BIN is the first
        6 digits of the masked number
    QueryExpirationMonth:
      name: expiration_month
      in: query
      required: false
      schema:
        type: string
        example: '1'
      description: Filter by the expiration month associated with the `Payment Instrument`
        if applicable. This filter only applies to payment cards.
    QueryExpirationYear:
      name: expiration_year
      in: query
      required: false
      schema:
        type: string
        example: '2022'
      description: Filter by the 4 digit expiration year associated with the Payment
        Instrument if applicable. This filter only applies to payment cards
    QueryLastFour:
      name: last_four
      in: query
      required: false
      schema:
        type: string
        example: '0454'
      description: Filter by the last 4 digits of the Payment Instrument card. This
        filter only applies to payment cards.
    QueryName:
      name: name
      in: query
      required: false
      schema:
        type: string
        example: fran%20lemke
      description: Filter by the name.
    QueryOwnerIdentity:
      name: owner_identity_id
      in: query
      required: false
      schema:
        type: string
        example: IDcWwprrKrD6cSh225JWPri3
      description: Filter by the owner id of the associated identity.
    QueryPaymentInstrumentType:
      name: type
      in: query
      required: false
      schema:
        type: string
        enum:
        - ALL
        - BANK_ACCOUNT
        - PAYMENT_CARD
        example: BANK_ACCOUNT
      description: Filter by the payment instrument type.
    QueryAfterCursor:
      name: after_cursor
      in: query
      required: false
      schema:
        type: string
      description: Return every resource created after the cursor value.
    QueryBeforeCursor:
      name: before_cursor
      in: query
      required: false
      schema:
        type: string
      description: Return every resource created before the cursor value.
    QueryFormat:
      name: format
      in: query
      required: false
      schema:
        type: string
        example: /download?format=json
      description: Specify the format you'd like to download the response in (JSON
        is the only other format available for download).
  requestBodies:
    CreateApplicationRequest:
      content:
        application/hal+json:
          schema:
            $ref: '#/components/schemas/CreateApplicationRequest'
          examples:
            Create an Application:
              value:
                tags:
                  application_name: Daphne's Corner
                user: USweC2ufdBEYxpvPuF3G3LUE
                entity:
                  business_type: LIMITED_LIABILITY_COMPANY
                  business_phone: +1 (408) 756-4497
                  first_name: John
                  last_name: Smith
                  dob:
                    year: 1978
                    day: 27
                    month: 5
                  business_address:
                    city: San Mateo
                    country: USA
                    region: CA
                    line2: Apartment 8
                    line1: 741 Douglass St
                    postal_code: '94114'
                  max_transaction_amount: 1200000
                  phone: '1234567890'
                  doing_business_as: Square
                  personal_address:
                    city: San Mateo
                    country: USA
                    region: CA
                    line2: Apartment 7
                    line1: 741 Douglass St
                    postal_code: '94114'
                  business_name: Daphne's Corner
                  business_tax_id: '123456789'
                  email: user@example.org
                  tax_id: '123456789'
    UpdateApplicationProfileRequest:
      content:
        application/hal+json:
          schema:
            $ref: '#/components/schemas/UpdateApplicationProfileRequest'
    CreateAuthorizationRequest:
      content:
        application/hal+json:
          schema:
            $ref: '#/components/schemas/CreateAuthorizationRequest'
          examples:
            Create an Authorization:
              value:
                source: PIe2YvpcjvoVJ6PzoRPBK137
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                tags:
                  order_number: 21DFASJSAKAS
                currency: USD
                amount: 100
                processor: DUMMY_V1
            Create an Authorization (with 3D Secure):
              value:
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                3d_secure_authentication:
                  electronic_commerce_indicator: AUTHENTICATED
                  cardholder_authentication: BwABBJQ1AgAAAAAgJDUCAAAAAAA=
                  transaction_id: EaOMucALHQqLAEGAgk
                source: PIe2YvpcjvoVJ6PzoRPBK137
                tags:
                  order_number: 21DFASJSAKAS
                currency: USD
                amount: 100
            Create an Authorization (with Level 2 Processing):
              value:
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                source: PIe2YvpcjvoVJ6PzoRPBK137
                additional_purchase_data:
                  customer_reference_number: 321xyz
                  sales_tax: 200
                tags:
                  order_number: 21DFASJSAKAS
                currency: USD
                amount: 1000
                processor: DUMMY_V1
            Create an Authorization (with Level 3 Processing):
              value:
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                source: PIe2YvpcjvoVJ6PzoRPBK137
                additional_purchase_data:
                  item_data:
                  - amount_including_sales_tax: 500
                    unit_of_measure: BX
                    merchant_product_code: '1149611'
                    amount_excluding_sales_tax: 400
                    cost_per_unit: 500
                    commodity_code: 175-62-20
                    item_discount_amount: 100
                    item_description: printing paper
                    quantity: 1
                  - amount_including_sales_tax: 500
                    unit_of_measure: CTN
                    merchant_product_code: '2149612'
                    amount_excluding_sales_tax: 400
                    cost_per_unit: 500
                    commodity_code: 207-72-54
                    item_discount_amount: 0
                    item_description: printing ink
                    quantity: 1
                  discount_amount: 100
                  customer_reference_number: 321xyz
                  shipping_amount: 100
                  customs_duty_amount: 10
                tags:
                  order_number: 21DFASJSAKAS
                currency: USD
                amount: 1000
                processor: DUMMY_V1
            Create a Card Present Authorization with an EMV Card:
              value:
                device: DVf2H8sh4LZZC52GTUrwCPPf
                tags:
                  order_number: chris123transfer
                currency: USD
                amount: 150
                operation_key: CARD_PRESENT_AUTHORIZATION
            Create a Card Present Authorization with a Non-EMV Card:
[...]
